<div  class="mt-5">
    <div class="site-section ftco-subscribe-1 site-blocks-cover pb-4 " style="background-image: url('assets/images/bg_1.jpg') ;height: 50vh;">
       <div class="container">
           <div class=" pt-5 text-center">
             <h2 class="mb-5" >{{title}}</h2>
             <p *ngIf="desc">{{desc}}</p>
         </div>
       </div>
     </div> 
</div>

<div class="custom-breadcrumns border-bottom">
  <div class="container">
    <a href="index.html">Home</a>
    <span class="mx-3 icon-keyboard_arrow_right"></span>
    <span class="current">{{title}}</span>
  </div>
</div>